1 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MAINICON.ICO"

2 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "FILE0002.IC0"
3 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "FILE0003.ICO"
10 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "FILE0010.BMP"
11 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "FILE0011.BMP"
