#include "\masm32\include\resource.h"

#define IDC_CDTB        106
#define IDC_AB          108
#define IDC_SW          109
#define IDC_RAB         111
#define IDC_SC          116
#define IDC_HC          117
#define IDC_MC          118
#define IDC_PICK        119
#define IDC_START       121
#define IDC_CANCEL      122
#define IDC_STOP        123
#define IDC_LAP         124
#define IDI_CLOCK       132
#define IDC_START_DATE  3004

IDI_CLOCK ICON MOVEABLE PURE LOADONCALL DISCARDABLE "clock.ico"

MyDialog DIALOG 10, 10, 190, 115
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX |
WS_SYSMENU | WS_VISIBLE | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK
CAPTION "Joe's Alarm/Countdown Timer/StopWatch!"
FONT 8, "MS Sans Serif"
BEGIN
    ICON    IDI_CLOCK,65535, 140,5,20,20
  CONTROL "Alarm Time/Date:",65535,"STATIC",WS_VISIBLE,27,70,57,8
  CONTROL "DateTimePicker1",IDC_START_DATE,"SysDateTimePick32",
                    DTS_RIGHTALIGN | WS_TABSTOP ,7,82,115,15
  CONTROL "Countdown Timer",65535,"STATIC",WS_VISIBLE,22,4,42,16
  CONTROL "",IDC_CDTB,"BUTTON",BS_AUTORADIOBUTTON|WS_VISIBLE|WS_TABSTOP,10,4,9,16
  CONTROL "Repeat after Countdown",65535,"STATIC",WS_VISIBLE,85,4,42,16
  CONTROL "",IDC_RAB,"BUTTON",BS_PUSHBUTTON|BS_AUTOCHECKBOX|WS_VISIBLE|WS_TABSTOP,70,4,7,16
  CONTROL "Alarm",65535,"STATIC",WS_VISIBLE,22,60,30,8
  CONTROL "",IDC_AB,"BUTTON",BS_AUTORADIOBUTTON|WS_VISIBLE|WS_TABSTOP,10,56,9,16
  CONTROL "StopWatch",65535,"STATIC",WS_VISIBLE,85,60,40,8
  CONTROL "",IDC_SW,"BUTTON",BS_AUTORADIOBUTTON|WS_VISIBLE|WS_TABSTOP,70,56,9,16
  CONTROL "",IDC_HC,"COMBOBOX",WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST|CBS_SORT|CBS_HASSTRINGS|WS_VSCROLL ,10,42,30,116
  CONTROL "",IDC_MC,"COMBOBOX",WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST|CBS_SORT|CBS_HASSTRINGS|WS_VSCROLL ,46,42,30,116
  CONTROL "",IDC_SC,"COMBOBOX",WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST|CBS_SORT|CBS_HASSTRINGS|WS_VSCROLL ,82,42,30,116
  CONTROL "Countdown Hours",65535,"STATIC",WS_VISIBLE,10,25,35,16
  CONTROL "Countdown Minutes",65535,"STATIC",WS_VISIBLE,46,25,35,16
  CONTROL "Countdown Seconds",65535,"STATIC",WS_VISIBLE,82,25,35,16
  CONTROL "PICK SOUND",119,"BUTTON",BS_PUSHBUTTON|WS_VISIBLE|WS_TABSTOP,132,32,54,16
  CONTROL "START",121,"BUTTON",BS_PUSHBUTTON|BS_DEFPUSHBUTTON|WS_VISIBLE|WS_TABSTOP,151,57,34,16
  CONTROL "CANCEL",122,"BUTTON",BS_PUSHBUTTON|WS_VISIBLE|WS_TABSTOP,151,82,34,16
  CONTROL "STOP",123,"BUTTON",BS_PUSHBUTTON|WS_VISIBLE|WS_TABSTOP,151,57,34,16
  CONTROL "LAP",124,"BUTTON",BS_PUSHBUTTON|WS_VISIBLE|WS_TABSTOP,151,82,34,16
END
