500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MAINICON.ICO"

600	MENUEX MOVEABLE IMPURE LOADONCALL DISCARDABLE
BEGIN
    POPUP "&File", , , 0
    BEGIN
        MENUITEM "&Exit", 1010
    END
END
