
#define IDM_FILE_OPEN		40001
#define IDM_SHOW_NORMAL		40002
#define IDM_SHOW_CENTRE		40003
#define IDM_SHOW_STRETCH	40004
#define IDM_SHOW_ISOSTRETCH	40005
#define IDM_FILE_PRINT		40006
#define IDM_EDIT_COPY		40007
#define IDM_EDIT_CUT		40008
#define IDM_EDIT_DELETE		40009
#define IDM_FILE_SAVE		40010
#define VK_DELETE		2Eh

SHOWDIB2 MENU DISCARDABLE
{
    POPUP "&File"
        {
         MENUITEM "&Open...\tCtrl+O",	IDM_FILE_OPEN
         MENUITEM "&Save...\tCtrl+S",	IDM_FILE_SAVE
	 MENUITEM SEPARATOR
	 MENUITEM "&Print\tCtrl+P",	IDM_FILE_PRINT
         }
    POPUP "&Edit"
	{
	 MENUITEM "Cu&t\tCtrl+X",	IDM_EDIT_CUT
	 MENUITEM "&Copy\tCtrl+C",	IDM_EDIT_COPY
	 MENUITEM "&Delete\tDelete",	IDM_EDIT_DELETE
	}
    POPUP "&Show"
	{
	 MENUITEM "&Actual Size",	IDM_SHOW_NORMAL, CHECKED
	 MENUITEM "&Centre",		IDM_SHOW_CENTRE
	 MENUITEM "&Stretch to Window",	IDM_SHOW_STRETCH
	 MENUITEM "Stretch Isotropically", IDM_SHOW_ISOSTRETCH
	}	
}

// Accelerator

SHOWDIB2 ACCELERATORS DISCARDABLE
{
"C",		IDM_EDIT_COPY,		VIRTKEY, CONTROL, NOINVERT
"O",		IDM_FILE_OPEN,		VIRTKEY, CONTROL, NOINVERT
"P",		IDM_FILE_PRINT,		VIRTKEY, CONTROL, NOINVERT
"S",		IDM_FILE_SAVE,		VIRTKEY, CONTROL, NOINVERT
VK_DELETE,	IDM_EDIT_DELETE,	VIRTKEY, 	  NOINVERT
"X",		IDM_EDIT_CUT,		VIRTKEY, CONTROL, NOINVERT
}

