/////////////////////// LCD.RC ///////////////////////////
// Resource file for LCD CD Player by Exagone
/////////////////////// LCD.RC ///////////////////////////

800 BITMAP "printedtext.bmp"

