#include "\masm32\include\resource.h"

500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "skins3.ico"
600 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "resize.ico"

150 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "bmp1.bmp"
155 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "side.bmp"
160 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "status.bmp"
