#include "\masm32\include\resource.h"

101 DIALOGEX MOVEABLE PURE LOADONCALL DISCARDABLE	0, 0, 315, 239, 0
STYLE DS_MODALFRAME | 0x0004 | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_POPUP
CAPTION "l33t0r c0nv3rt0r"
FONT 8, "MS Sans Serif", 700, 0 /*FALSE*/
BEGIN
    DEFPUSHBUTTON   "C0nv3r7... U h3r3t1c!", 1000, 	45,204,102,14, 0, , 0
    PUSHBUTTON      "X-17", 1001, 	167,204,102,14, 0, , 0
    CTEXT           "X-Calibre's l33t0r c0nv3r70r\n\nD0n't l00k h3r3... L00k @ da src r4th3r... :)", 65535, 	60,9,194,32, SS_LEFT | WS_BORDER | 0x00001000, , 0
    EDITTEXT        1002, 	36,127,242,69, ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_WANTRETURN | ES_LEFT, , 0
    EDITTEXT        1005, 	37,48,242,69, ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_WANTRETURN | ES_LEFT, , 0
END


