#include "\masm32\include\resource.h"

TESTWIN DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE	10, 10, 241, 104, 0
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_POPUP
CAPTION "Dialog"
FONT 8, "MS Sans Serif", 700, 0 /*FALSE*/
BEGIN
    EDITTEXT        100, 	56,13,99,13, ES_AUTOHSCROLL | ES_LEFT, , 0
    EDITTEXT        101, 	56,32,99,13, ES_AUTOHSCROLL | ES_LEFT, , 0
    EDITTEXT        102, 	56,50,99,14, ES_AUTOHSCROLL | ES_LEFT, , 0
    EDITTEXT        103, 	56,79,99,13, ES_AUTOHSCROLL | ES_LEFT, , 0
    PUSHBUTTON      "Calculate", 1000, 	180,14,40,16, 0, , 0
    PUSHBUTTON      "Clear", 1001, 	180,34,40,16, 0, , 0
    CTEXT           "Input 1", 20, 	11,14,35,10, SS_LEFT, , 0
    CTEXT           "Input 2", 30, 	11,34,35,8, SS_LEFT, , 0
    CTEXT           "Input 3", 40, 	11,53,35,9, SS_LEFT, , 0
    CTEXT           "Result", 50, 	13,82,33,10, SS_LEFT, , 0
END



200 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "ICON1.ICO"
